div( id="home" )
	img( src="assets/img/roma.jpg" width="256" height="256")
	h4.text-center Web Developer | Krakow, Poland

	div.row.text-center
		div.contact.col-xs-4.col-sm-2.col-md-1.col-lg-1(
			ng-repeat="contact in contacts"
			ng-init="push = contacts.length <= 10 ? (12 - contacts.length)/2 : 0"
			ng-class="push ? 'col-md-push-' + push + ' col-lg-push-' + push : ''"
		)
			a.fa.fa-5x(
				ng-href="{{contact.url}}",
				title="{{contact.title}}",
				class="{{contact.icon}}",
				target="_blank"
			)

	h3.text-center Examples

	div.row.text-center
		div.btn-group.btn-group-lg.hidden-xs
			button.btn.btn-default( ui-sref="people.list" ) Angular State Dashboard
			button.btn.btn-default( ui-sref="validation" ) Angular Bootstrap Validation
			button.btn.btn-default( ui-sref="build" ) Gulp build
		div.btn-group.btn-group-lg.btn-group-vertical.visible-xs
			button.btn.btn-default( ui-sref="people.list" ) Angular State Dashboard
			button.btn.btn-default( ui-sref="validation" ) Angular Bootstrap Validation
			button.btn.btn-default( ui-sref="build" ) Gulp build
