div( id='directory' )
	div.row.title
		div.col-xs-6
			h2 People
		div.col-xs-6
			input.form-control(
				type='text'
				ng-model='searchFilter'
				placeholder='Search...'
			)
	div.btn-toolbar
		div.btn-group
			button.btn.btn-default(
					ng-class="{ active: !gridView }"
					ng-click="gridView = false"
				)
				span.glyphicon.glyphicon-th-list
				span.hidden-xs  List
			button.btn.btn-default(
					ng-class="{ active: gridView }"
					ng-click="gridView = true"
				)
				span.glyphicon.glyphicon-th
				span.hidden-xs  Grid
		div.btn-group( ng-init="personFilter = {}" )
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === undefined }"
					ng-click="personFilter = {}"
				)
				span.glyphicon.glyphicon-th-large.text-warning
				span.hidden-xs  All
				span  {{people.length}}
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === false}"
					ng-click="personFilter = {hired: false}"
				)
				span.glyphicon.glyphicon-edit.text-success
				span.hidden-xs  Available
				span  {{people.length - hiredCount}}
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === true}"
					ng-click="personFilter = {hired: true}"
				)
				span.glyphicon.glyphicon-check.text-danger
				span.hidden-xs  Hired
				span  {{hiredCount}}
		span.alert.alert-warning.pull-right Total budget: {{hiredSum}},000$

	div.container-fluid(
		ng-repeat="person in people | filter: searchFilter | filter: personFilter"
		ng-class="gridView ? 'col-xs-6 col-sm-6 col-md-4 col-lg-4 grid' : 'list'"
	)
			span.bold( ng-bind='person.fullname' )
			span.text-primary.pull-right( ng-bind='person.salary'	)
			div.pull-left
				img.img-circle.img-thumbnail( ng-src="{{person.thumbnail}}" alt="{{person.fullname}}" )
			div.no-overflow

				p.about( ng-bind='gridView ? person.aboutCut : person.about' )
				div.row
					div.col-xs-12( ng-class="gridView ? 'col-sm-6' : 'col-sm-3 col-lg-3'" )
						a.btn.btn-primary.btn-block( ng-href='{{person.detailsUrl}}' ) Details
					div.col-xs-12( ng-class="gridView ? 'col-sm-6' : 'col-sm-3 col-lg-3'" )
						a.btn.btn-block(
								ng-class="person.hired ? 'btn-danger' : 'btn-success'"
								ng-click="person.hired = hire(person);"
						) {{person.hired ? 'Dismiss' : 'Hire'}}