div( id='directory' )
	div.row.title
		div.col-xs-6
			h2 People
		div.col-xs-6
			input.form-control(
				type='text'
				ng-model='searchFilter'
				placeholder='Search...'
			)
	div.btn-toolbar
		div.btn-group
			button.btn.btn-default(
					ng-class="{ active: !gridView }"
					ng-click="gridView = false"
				)
				span.glyphicon.glyphicon-th-list
				span.hidden-xs  List
			button.btn.btn-default(
					ng-class="{ active: gridView }"
					ng-click="gridView = true"
				)
				span.glyphicon.glyphicon-th
				span.hidden-xs  Grid
		div.btn-group( ng-init="personFilter = {}" )
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === undefined }"
					ng-click="personFilter = {}"
				)
				span.glyphicon.glyphicon-th-large.text-warning
				span.hidden-xs  All
				span  {{people.length}}
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === false}"
					ng-click="personFilter = {hired: false}"
				)
				span.glyphicon.glyphicon-edit.text-success
				span.hidden-xs  Available
				span  {{people.length - hiredCount}}
			button.btn.btn-default(
					ng-class="{ active: personFilter.hired === true}"
					ng-click="personFilter = {hired: true}"
				)
				span.glyphicon.glyphicon-check.text-danger
				span.hidden-xs  Hired
				span  {{hiredCount}}
		span.alert.alert-warning.pull-right Total budget: {{hiredSum}},000$

	div(
		ng-repeat="person in people | filter: searchFilter | filter: personFilter"
		ng-class="gridView ? 'col-xs-6 col-sm-6 col-md-4 col-lg-4 grid' : 'list'"
		)
			div.pull-left
				img.img-circle.img-thumbnail( ng-src="{{person.thumbnail}}" alt="{{person.fullname}}" )
			div.no-overflow
				span.bold(
						ng-bind='person.fullname'
					)
				span.text-primary.pull-right( ng-bind='person.salary'	)
				div( ng-show='gridView' )
					br
				p( ng-bind='gridView ? person.aboutCut : person.about' )
				div
					a.btn.btn-primary(
						ng-href='{{person.detailsUrl}}'
						ng-class="gridView ? 'col-xs-12 col-sm-6' : 'col-xs-6 col-sm-2 col-lg-2'"
					) View Profile
					a.btn(
							ng-class="{'btn-danger': person.hired, 'btn-success': !person.hired, 'col-xs-12 col-sm-6': gridView, 'col-xs-6 col-sm-2 col-lg-2': !gridView}"
							ng-click="person.hired = hire(person);"
						) {{person.hired ? 'Dismiss' : 'Hire'}}